.vscode

# Since ROM distribution is illegal, you should
# populate the directory with you own legal copies.
# roms/RESOURCES.md contains a list of good resources
# that could help.
/roms/*
!/roms/RESOURCES.md

# Documentation regarding Atari's internals are quite
# widespread, however I don't want to distribute them here.
# ataridocs/RESOURCES.md contains a list of good resources
# that could help.
/ataridocs/*
!/ataridocs/RESOURCES.md